# URL de connexion à la base de données MySQL
# Format : mysql://USER:PASSWORD@HOST:PORT/DATABASE_NAME
# Exemple local : mysql://root:password@localhost:3306/telico?schema=public
DATABASE_URL="mysql://root:password@localhost:3306/telico"
